{% comment %} First {% endcomment %}
<div id="shopify-section-16300959082b2e903f" class="shopify-section index-section"
  data-shopify-editor-section="{&quot;id&quot;:&quot;16300959082b2e903f&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
  <div class="page-width feature-row">
    <div class="feature-row">
      <div class="feature-row__item">
        <style>
          #FeatureRowImage-16300959082b2e903f {
            max-width: 644.731977818854px;
            max-height: 545px;
          }
          #FeatureRowImageWrapper-16300959082b2e903f {
            max-width: 644.731977818854px;
          }
        </style>
        <div id="FeatureRowImageWrapper-16300959082b2e903f" class="feature-row__image-wrapper js">
          <div style="padding-top:84.53124999999999%;">
            <img id="FeatureRowImage-16300959082b2e903f"
              class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0580/2400/1700/files/1_180x.jpg?v=1630096178 180w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_360x.jpg?v=1630096178 360w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_540x.jpg?v=1630096178 540w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_720x.jpg?v=1630096178 720w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_900x.jpg?v=1630096178 900w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_1080x.jpg?v=1630096178 1080w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_1296x.jpg?v=1630096178 1296w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_1512x.jpg?v=1630096178 1512w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_1728x.jpg?v=1630096178 1728w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_2048x.jpg?v=1630096178 2048w"
              sizes="545px"
              srcset="//cdn.shopify.com/s/files/1/0580/2400/1700/files/1_180x.jpg?v=1630096178 180w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_360x.jpg?v=1630096178 360w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_540x.jpg?v=1630096178 540w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_720x.jpg?v=1630096178 720w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_900x.jpg?v=1630096178 900w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_1080x.jpg?v=1630096178 1080w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_1296x.jpg?v=1630096178 1296w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_1512x.jpg?v=1630096178 1512w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_1728x.jpg?v=1630096178 1728w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/1_2048x.jpg?v=1630096178 2048w">
          </div>
        </div>
        <noscript>
          <img src="//cdn.shopify.com/s/files/1/0580/2400/1700/files/1_600x600@2x.jpg?v=1630096178" alt=""
            class="feature-row__image" />
        </noscript>
      </div>
      <div class="feature-row__item feature-row__text feature-row__text--left">
        <h2 class="h3" data-live-text-setting="section.16300959082b2e903f.title/escape">Image with text</h2>
        <div class="rte rte-setting featured-row__subtext" data-live-text-setting="section.16300959082b2e903f.text">
          <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details
            on availability, style, or even provide a review.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} Second {% endcomment %}
<div id="shopify-section-1630096117558a0035" class="shopify-section index-section"
  data-shopify-editor-section="{&quot;id&quot;:&quot;1630096117558a0035&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
  <div class="page-width feature-row">
    <div class="feature-row">
      <div class="feature-row__item feature-row__text feature-row__text--right">
        <h2 class="h3" data-live-text-setting="section.1630096117558a0035.title/escape">Image with text</h2>
        <div class="rte rte-setting featured-row__subtext" data-live-text-setting="section.1630096117558a0035.text">
          <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details
            on availability, style, or even provide a review.</p>
        </div>
      </div>
      <div class="feature-row__item">
        <style>
          #FeatureRowImage-1630096117558a0035 {
            max-width: 645.9259259259259px;
            max-height: 545px;
          }
          #FeatureRowImageWrapper-1630096117558a0035 {
            max-width: 645.9259259259259px;
          }
        </style>
        <div id="FeatureRowImageWrapper-1630096117558a0035" class="feature-row__image-wrapper js">
          <div style="padding-top:84.37500000000001%;">
            <img id="FeatureRowImage-1630096117558a0035" class="feature-row__image lazyautosizes lazyloaded"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.1851851851851851" data-sizes="auto" alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0580/2400/1700/files/3_180x.jpg?v=1630096186 180w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_360x.jpg?v=1630096186 360w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_540x.jpg?v=1630096186 540w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_720x.jpg?v=1630096186 720w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_900x.jpg?v=1630096186 900w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_1080x.jpg?v=1630096186 1080w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_1296x.jpg?v=1630096186 1296w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_1512x.jpg?v=1630096186 1512w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_1728x.jpg?v=1630096186 1728w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_2048x.jpg?v=1630096186 2048w"
              sizes="545px"
              srcset="//cdn.shopify.com/s/files/1/0580/2400/1700/files/3_180x.jpg?v=1630096186 180w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_360x.jpg?v=1630096186 360w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_540x.jpg?v=1630096186 540w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_720x.jpg?v=1630096186 720w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_900x.jpg?v=1630096186 900w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_1080x.jpg?v=1630096186 1080w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_1296x.jpg?v=1630096186 1296w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_1512x.jpg?v=1630096186 1512w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_1728x.jpg?v=1630096186 1728w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/3_2048x.jpg?v=1630096186 2048w">
          </div>
        </div>
        <noscript>
          <img src="//cdn.shopify.com/s/files/1/0580/2400/1700/files/3_600x600@2x.jpg?v=1630096186" alt=""
            class="feature-row__image" />
        </noscript>
      </div>
    </div>
  </div>
</div>
{% comment %} Third {% endcomment %}
<div id="shopify-section-1630096129a0da83bd" class="shopify-section index-section"
  data-shopify-editor-section="{&quot;id&quot;:&quot;1630096129a0da83bd&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
  <div class="page-width feature-row">
    <div class="feature-row">
      <div class="feature-row__item">
        <style>
          #FeatureRowImage-1630096129a0da83bd {
            max-width: 584.3204697986578px;
            max-height: 545px;
          }
          #FeatureRowImageWrapper-1630096129a0da83bd {
            max-width: 584.3204697986578px;
          }
        </style>
        <div id="FeatureRowImageWrapper-1630096129a0da83bd" class="feature-row__image-wrapper js">
          <div style="padding-top:93.27073552425665%;">
            <img id="FeatureRowImage-1630096129a0da83bd"
              class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.0721476510067114" data-sizes="auto" alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0580/2400/1700/files/4_180x.jpg?v=1630096188 180w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_360x.jpg?v=1630096188 360w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_540x.jpg?v=1630096188 540w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_720x.jpg?v=1630096188 720w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_900x.jpg?v=1630096188 900w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_1080x.jpg?v=1630096188 1080w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_1296x.jpg?v=1630096188 1296w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_1512x.jpg?v=1630096188 1512w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_1728x.jpg?v=1630096188 1728w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_2048x.jpg?v=1630096188 2048w"
              sizes="545px"
              srcset="//cdn.shopify.com/s/files/1/0580/2400/1700/files/4_180x.jpg?v=1630096188 180w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_360x.jpg?v=1630096188 360w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_540x.jpg?v=1630096188 540w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_720x.jpg?v=1630096188 720w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_900x.jpg?v=1630096188 900w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_1080x.jpg?v=1630096188 1080w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_1296x.jpg?v=1630096188 1296w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_1512x.jpg?v=1630096188 1512w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_1728x.jpg?v=1630096188 1728w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/4_2048x.jpg?v=1630096188 2048w">
          </div>
        </div>
        <noscript>
          <img src="//cdn.shopify.com/s/files/1/0580/2400/1700/files/4_600x600@2x.jpg?v=1630096188" alt=""
            class="feature-row__image" />
        </noscript>
      </div>
      <div class="feature-row__item feature-row__text feature-row__text--left">
        <h2 class="h3" data-live-text-setting="section.1630096129a0da83bd.title/escape">Image with text</h2>
        <div class="rte rte-setting featured-row__subtext" data-live-text-setting="section.1630096129a0da83bd.text">
          <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details
            on availability, style, or even provide a review.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} Fourth {% endcomment %}
<div id="shopify-section-1630096134e779cf27" class="shopify-section index-section"
  data-shopify-editor-section="{&quot;id&quot;:&quot;1630096134e779cf27&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}">
  <div class="page-width feature-row">
    <div class="feature-row">
      <div class="feature-row__item feature-row__text feature-row__text--right">
        <h2 class="h3" data-live-text-setting="section.1630096134e779cf27.title/escape">Image with text</h2>
        <div class="rte rte-setting featured-row__subtext" data-live-text-setting="section.1630096134e779cf27.text">
          <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details
            on availability, style, or even provide a review.</p>
        </div>
      </div>
      <div class="feature-row__item">
        <style>
          #FeatureRowImage-1630096134e779cf27 {
            max-width: 644.731977818854px;
            max-height: 545px;
          }
          #FeatureRowImageWrapper-1630096134e779cf27 {
            max-width: 644.731977818854px;
          }
        </style>
        <div id="FeatureRowImageWrapper-1630096134e779cf27" class="feature-row__image-wrapper js">
          <div style="padding-top:84.53124999999999%;">
            <img id="FeatureRowImage-1630096134e779cf27"
              class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0580/2400/1700/files/2_180x.jpg?v=1630096185 180w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_360x.jpg?v=1630096185 360w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_540x.jpg?v=1630096185 540w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_720x.jpg?v=1630096185 720w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_900x.jpg?v=1630096185 900w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_1080x.jpg?v=1630096185 1080w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_1296x.jpg?v=1630096185 1296w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_1512x.jpg?v=1630096185 1512w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_1728x.jpg?v=1630096185 1728w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_2048x.jpg?v=1630096185 2048w"
              sizes="545px"
              srcset="//cdn.shopify.com/s/files/1/0580/2400/1700/files/2_180x.jpg?v=1630096185 180w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_360x.jpg?v=1630096185 360w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_540x.jpg?v=1630096185 540w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_720x.jpg?v=1630096185 720w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_900x.jpg?v=1630096185 900w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_1080x.jpg?v=1630096185 1080w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_1296x.jpg?v=1630096185 1296w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_1512x.jpg?v=1630096185 1512w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_1728x.jpg?v=1630096185 1728w, //cdn.shopify.com/s/files/1/0580/2400/1700/files/2_2048x.jpg?v=1630096185 2048w">
          </div>
        </div>
        <noscript>
          <img src="//cdn.shopify.com/s/files/1/0580/2400/1700/files/2_600x600@2x.jpg?v=1630096185" alt=""
            class="feature-row__image" />
        </noscript>
      </div>
    </div>
  </div>
</div>
